* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  color: white;
  background: #000;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body.is-overlay-active {
  overflow: hidden;
}
